<%- include('../layouts/admin/adminHeader') %>


    <style>
        #offerDetails {
            display: none;
            padding: 20px;
            border: 1px solid #888;
            margin: 20px 0;
        }
    </style>


    


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">KRISHNAPRASAD</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/dashboard" class="nav-item nav-link"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    <a href="/admin/alluser" class="nav-item nav-link"><i class="fa fa-th me-2"></i>All User</a>
                    <div class="nav-item dropdown">
                        <a href="/admin/allproduct" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>All Product</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addproduct" class="dropdown-item">Add Product</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="/admin/category" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i>Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcategory" class="dropdown-item">Add Category</a>
                        </div>
                    </div>

                    <a href="/admin/orders" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Orders</a>

                    <div class="nav-item dropdown">
                        <a href="/admin/coupon" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>All Coupons</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcoupon" class="dropdown-item">Add Coupon</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/banner" class="nav-link dropdown-toggle  "><i
                                class="far fa-file-alt me-2"></i>All Banners</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addbanner" class="dropdown-item">Add Banner</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/offer" class="nav-link dropdown-toggle  "><i
                                class="far fa-file-alt me-2"></i>All Offers</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addOffer" class="dropdown-item">Add Offer</a>
                        </div>
                    </div>

                </div>
                
            </nav>
        </div>
        <!-- Sidebar End -->

        <%- include('../layouts/admin/adminNav') %>


            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">All Category</h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Offers</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Listing and Unlisting </th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% categoryData.forEach((result)=> { %>
                                        <tr>

                                            <td>
                                                <%= result.name %>
                                            </td>
                                            <td>
                                                <%= result.description %>
                                            </td>



                                            <td>
                                                <% if(result.offer){ %>
                                                    <button class="btn btn-sm btn-outline-danger rounded-pill font-sm"
                                                        onclick="removeOffer('<%= result._id %>')">Remove
                                                        offer</button>
                                                    <p>
                                                        <%= result.offer.name%>(<%=result.offer.discount %>%)
                                                    </p>
                                                    <%}else{%>
                                                        <button
                                                            class="btn btn-sm btn-outline-primary rounded-pill font-sm"
                                                            onclick="showModal('<%= result._id %>')">Apply
                                                            Offer</button>

                                                        <p>No offers</p>
                                                        <% } %>
                                                                       
                                            </td>


                                            <div class="modal fade" id="discountModal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <% offer.forEach((offer)=>{%>
                                                        <div class="modal-content rounded-50">
                                                            <div data-offerid="<%= offer._id %>"
                                                                style="cursor: pointer;" class="modal-body text-center">
                                                                <div class="icon text-danger">
                                                                    <i style="font-size: 20px;" class="fas fa-gift"></i>
                                                                </div>
                                                                <div class="notice">
                                                                    <h2 class="text-primary">
                                                                        <%= offer.name %>
                                                                    </h2>

                                                                    <h4 class="text-success">
                                                                        <%= offer.discount %>% Discount
                                                                    </h4>
                                                                    <p class="offer-validity">
                                                                        <span>Valid from</span>
                                                                        <%= moment(offer.startingDate).format('DD/MM/YYYY')
                                                                            %> <span> to</span>
                                                                            <%= moment(offer.expiryDate).format('DD/MM/YYYY')
                                                                                %>
                                                                    </p>
                                                                </div>
                                                                <div class="code"></div>
                                                            </div>
                                                        </div>
                                                        <%})%>

                                                </div>
                                                          
                                            </div>




                                            <td id="is_listed<%=result._id%>">
                                                <%= result.is_listed %>
                                            </td>


                                            <td>
                                                <a href="#" class="btn btn-primary"
                                                    onclick="toggleCategory('<%= result._id %>', '<%= result.is_listed %>')">
                                                    <% if(result.is_listed==="Listed" ) { %>
                                                        Unlist
                                                        <% } else { %>
                                                            List
                                                            <% } %>
                                                </a>
                                            </td>


                                            <td>
                                                <a class="btn btn-primary"
                                                    href="/admin/editcategory?id=<%= result._id %>">Edit</a>

                                                <a class="btn btn-primary" href="#"
                                                    onclick="confirmDelete('<%= result._id %>')">Delete</a>
                                            </td>
                                        </tr>
                                        <% }); %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Start -->
            <%- include('../layouts/admin/footBar') %>
        </div>
            <%- include('../layouts/admin/adminFooter') %>
       

        <script>
            function toggleCategory(categoryId, currentStatus) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: `Do you want to ${currentStatus === 'Listed' ? 'unlist' : 'list'} this category?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Correct the function name here
                        window.location.href = `/admin/listcategory?id=${categoryId}`;
                    }
                });
            }
        </script>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function confirmDelete(categoryId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You won\'t to Remove this offer!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If confirmed, trigger the deletion by redirecting to the delete URL
                        window.location.href = `/admin/deletecategory?id=${categoryId}`;
                    }
                });
            }
        </script>





        <script>
            function showModal(categoryId) {
                $('#discountModal').modal('show');
                const offerElements = document.querySelectorAll('.modal-body.text-center');
                offerElements.forEach((element) => {
                    element.onclick = function () {
                        const offerId = this.getAttribute('data-offerid');

                        console.log("offer", offerId);

                        enterOffer(offerId, categoryId);
                    };
                });
            }

            async function enterOffer(offerId, categoryId) {
                $('#discountModal').modal('hide');
                try {
                    const response = await fetch("/admin/applycategoryoffer", {
                        method: "PATCH",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ offerId, categoryId })
                    })

                    if (response.ok) {
                        const responseData = await response.json();

                        const isConfirmed = await Swal.fire({
                            title: 'Offer applied',
                            icon: 'success',
                            confirmButtonText: 'OK',
                        });

                        if (isConfirmed.value) {
                            window.location = '/admin/category';
                        }
                    } else {

                        console.error('Error applying offer:', response.statusText);
                    }
                } catch (error) {
                    console.log(error)
                    console.error('Error applying offer:', error);
                }
            }




            async function removeOffer(categoryId) {
                try {
                    console.log("cate", categoryId);
                    const isConfirmed = await Swal.fire({
                        title: 'Are you sure?',
                        text: "You want remove the offer!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, remove it!'
                    });

                    if (isConfirmed.isConfirmed) {
                        const response = await fetch("/admin/removecategoryoffer", {
                            method: "PATCH",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ categoryId })
                        });
                        console.log("hfkhjkhh");

                        if (response.ok) {
                            const responseData = await response.json();

                            const isConfirmed = await Swal.fire({
                                title: 'Offer Removed',
                                icon: 'success',
                                confirmButtonText: 'OK',
                            });

                            if (isConfirmed.value) {
                                window.location = '/admin/category';
                            }
                        } else {
                            console.error('Error removing offer:', response.statusText);
                        }
                    }
                } catch (error) {
                    console.error(error);
                }
            }

        </script>
