<%- include('../layouts/admin/adminHeader') %>


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">KRISHNAPRASAD</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/dashboard" class="nav-item nav-link"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    <a href="/admin/alluser" class="nav-item nav-link"><i class="fa fa-th me-2"></i>All User</a>
                    <div class="nav-item dropdown">
                        <a href="/admin/allproduct" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>All Product</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addproduct" class="dropdown-item">Add Product</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="/admin/category" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcategory" class="dropdown-item">Add Category</a>
                        </div>
                    </div>

                    <a href="/admin/orders" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Orders</a>

                    <div class="nav-item dropdown">
                        <a href="/admin/coupon" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>All Coupons</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcoupon" class="dropdown-item">Add Coupon</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/banner" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>All Banners</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addbanner" class="dropdown-item">Add Banner</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/offer" class="nav-link dropdown-toggle active " data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i>All Offers</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addOffer" class="dropdown-item">Add Offer</a>
                        </div>
                    </div>

                </div>
                
            </nav>
        </div>
        <!-- Sidebar End -->

        <%- include('../layouts/admin/adminNav') %>


            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Edit Offer</h6>
                            <form id="offerForm" action="/admin/editoffer" method="POST" novalidate>
                                <input type="hidden" name="id" value="<%= offerData._id %>">
            
                                <div class="mb-3">
                                    <label for="offerName" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="offerName" placeholder="Offer Name" value="<%= offerData.name %>" name="name" required>
                                    <p id="offern" style="color: red;"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="offerDiscount" class="form-label">Discount Percentage</label>
                                    <input type="number" class="form-control" id="offerDiscount" placeholder="Discount percentage" value="<%= offerData.discount %>" name="discount" min="1" required>
                                    <p id="offerd" style="color: red;"></p>
                                    <p id="offerdp" style="color: red;"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="offerStartingDate" class="form-label">Starting Date</label>
                                    <input type="date" class="form-control" id="offerStartingDate" value="<%= offerData.startingDate %>" name="startingDate" required>
                                    <p id="offersd" style="color: red;"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="offerExpiryDate" class="form-label">Expiry Date</label>
                                    <input type="date" class="form-control" id="offerExpiryDate" value="<%= offerData.expiryDate %>" name="expiryDate" required>
                                    <p id="offered" style="color: red;"></p>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../layouts/admin/adminFooter') %>

<script>

    var startingDate = new Date('<%= offerData.startingDate %>');
    var formattedStartingDate = startingDate.toISOString().slice(0, 10);

    var expiryDate = new Date("<%= offerData.expiryDate %>")
    var formattedexpiryDate = expiryDate.toISOString().slice(0, 10)


    document.getElementById('offerStartingDate').value = formattedStartingDate;
    document.getElementById('offerExpiryDate').value = formattedexpiryDate


</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const offerForm = document.getElementById('offerForm')
        offerForm.addEventListener("submit", function (event) {
            event.preventDefault()
           
            const id = document.querySelector('input[name="id"]').value;
            const offerName = document.getElementById("offerName").value
            const offerDiscount = document.getElementById("offerDiscount").value
            const offerStartingDate = document.getElementById("offerStartingDate").value
            const offerExpiryDate = document.getElementById("offerExpiryDate").value

            if (!offerName) {
                const message = document.getElementById("offern").innerHTML = "please enter offer name"
                return
            } else {
                const message = document.getElementById("offern").innerHTML = ""
            }

            if (!(offerDiscount > 0 && offerDiscount < 100)) {
                const message = document.getElementById("offerdp").innerHTML = "please enter offer Discount 1 - 99 number of percentage only"
                return
            }else{
                const message = document.getElementById("offerdp").innerHTML = ""
            }

            if (!offerDiscount) {
                const message = document.getElementById("offerd").innerHTML = "please enter offer Discount percentage"
                return
            } else {
                const message = document.getElementById("offerd").innerHTML = "";
            }


            const startingDate = new Date(offerStartingDate);
            const expiryDate = new Date(offerExpiryDate);

            if (isNaN(startingDate) || isNaN(expiryDate) || startingDate > expiryDate) {
                const message = document.getElementById("offersd").innerHTML = "properly enter starting date below expirydate range";
                return;
            } else {
                const message = document.getElementById("offersd").innerHTML = "";
            }

            fetch("/admin/editoffer", {
                method: "post",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: id,
                    name: offerName,
                    discount: offerDiscount,
                    startingDate: startingDate,
                    expiryDate: expiryDate,
                })
            }).then(response => response.json())
            .then(data => {
                if (data.error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.error,
                    });
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Offer edited successfully!',
                    }).then(() => {
                        window.location.href = '/admin/offer';
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);

                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred while updating the offer.',
                });
            })
        });
    });
</script>

