<%- include('../layouts/admin/adminHeader') %>


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">KRISHNAPRASAD</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/dashboard" class="nav-item nav-link"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    <a href="/admin/alluser" class="nav-item nav-link"><i class="fa fa-th me-2"></i>All User</a>
                    <div class="nav-item dropdown">
                        <a href="/admin/allproduct" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>All Product</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addproduct" class="dropdown-item">Add Product</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="/admin/category" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcategory" class="dropdown-item">Add Category</a>
                        </div>
                    </div>

                    <a href="/admin/orders" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Orders</a>

                    <div class="nav-item dropdown">
                        <a href="/admin/coupon" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i>All Coupons</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcoupon" class="dropdown-item">Add Coupon</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/banner" class="nav-link dropdown-toggle  " data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i>All Banners</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addbanner" class="dropdown-item">Add Banner</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/offer" class="nav-link dropdown-toggle  " ><i
                                class="far fa-file-alt me-2"></i>All Offers</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addOffer" class="dropdown-item">Add Offer</a>
                        </div>
                    </div>

                </div>
            
            </nav>
        </div>
        <!-- Sidebar End -->

        <%- include('../layouts/admin/adminNav') %>


            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Edit Banner</h6>
                            <form id="itemForm" action="/admin/editbanner/<%= banner._id %>" method="POST" enctype="multipart/form-data" novalidate>
            
                                <input type="hidden" name="id" value="<%= banner._id %>">
            
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="title" placeholder="Title" value="<%= banner.title %>" name="title" required>
                                    <div class="invalid-feedback">
                                        Please enter the title.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea class="form-control" id="description" placeholder="Description" name="description" required><%= banner.description %></textarea>
                                    <div class="invalid-feedback">
                                        Please enter the description.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="location" class="form-label">Location</label>
                                    <input type="text" class="form-control" id="location" placeholder="Location" value="<%= banner.location %>" name="location" required>
                                    <div class="invalid-feedback">
                                        Please enter the Location.
                                    </div>
                                </div>
            
                                <div class="mb-3" >
                                    <label for="currentBannerImage" class="form-label">Current Images</label>
                                    <div class="row">
                                        <div class="col-3 mt-2">
                                            <img src="/uploads/<%= banner.image %>" class="img-thumbnail" style="max-width: 250px; max-height: 250px;">
                                        </div>
                                    </div>
                                </div>
            
                                <div class="mb-4" >
                                    <label class="form-label">Image</label>
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <div class="d-flex align-items-center">
                                            <img src="/uploads/<%= banner.image %>" alt="Product Image" style="width: 30px; height: 30px; margin-right: 10px;">
                                            <span>
                                                <%= banner.image %>
                                            </span>
                                        </div>
                                        <a href="#" onclick="confirmDelete('<%= banner._id %>', '<%= banner.image %>')" class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                </div>
            
                                <div class="mb-3">
                                    <label for="image" class="form-label">Image</label>
                                    <input type="file" class="form-control form-control-sm bg-dark" id="image" name="image" accept="image/*">
                                    <div class="invalid-feedback">
                                        Please select one image only.
                                    </div>
                                </div>
            
                                <button type="submit" class="btn btn-primary">Update Banner</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

           


            <script>
                document.getElementById('image').addEventListener('change', () => {
                    this.files = '';
                });

                document.getElementById('itemForm').addEventListener('submit', function (event) {
                    var titleInput = document.getElementById('title');
                    titleInput.value = titleInput.value.trim();

                    var descriptionInput = document.getElementById('description');
                    descriptionInput.value = descriptionInput.value.trim();

                    var locationInput = document.getElementById('location');
                    locationInput.value = locationInput.value.trim();

                    // Basic input field validations
                    if (!titleInput.value || !descriptionInput.value || !locationInput.value) {
                        event.preventDefault();
                        event.stopPropagation();
                        alert('Please fill out all required fields.');
                        return;
                    }

                    // Image input validation
                    var imageInput = document.getElementById('image');
                    if (imageInput.files.length > 1) {
                        event.preventDefault();
                        event.stopPropagation();
                        document.querySelector('#image + .invalid-feedback').style.display = 'block';
                    } else {
                        document.querySelector('#image + .invalid-feedback').style.display = 'none';
                    }

                    // Check if the form is valid
                    if (!this.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        Swal.fire({
                            icon: 'success',
                            title: 'Banner updated successfully!',
                            showConfirmButton: false,
                            timer: 2000
                        });

                        setTimeout(() => {
                            window.location.href = '/admin/banner';
                        }, 2000);
                    }

                    this.classList.add('was-validated');
                });
            </script>


            <script>
                function confirmDelete(bannerId, image) {

                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'You will not be able to recover this image!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {

                            fetch(`/admin/deleteimage?bannerId=${bannerId}&image=${image}`, {
                                method: 'DELETE'
                            }).then(response => {
                                if (response.ok) {
                                    Swal.fire('Deleted!', 'Your image has been deleted.', 'success').then(() => {
                                        window.location.reload()
                                    })
                                } else {
                                    console.error('Delete request failed with status:', response.status);
                                    Swal.fire('Error!', 'Failed to delete the image.', 'error');
                                }
                            }).catch(error => {
                                console.error('Error:', error);
                                Swal.fire('Error!', 'Failed to delete the image.', 'error');
                            });

                        }
                    });
                }
            </script>

<%- include('../layouts/admin/adminFooter') %>