<%- include('../layouts/admin/adminHeader') %>


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">KRISHNAPRASAD</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                  
                    <a href="/admin/alluser" class="nav-item nav-link"><i class="fa fa-th me-2"></i>All User</a>
                    <div class="nav-item dropdown">
                        <a href="/admin/allproduct" class="nav-link dropdown-toggle "><i class="far fa-file-alt me-2"></i>All Product</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addproduct" class="dropdown-item">Add Product</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="/admin/category" class="nav-link dropdown-toggle "><i class="far fa-file-alt me-2"></i>Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcategory" class="dropdown-item">Add Category</a>
                        </div>
                    </div>

                    <a href="/admin/orders" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Orders</a>

                    <div class="nav-item dropdown">
                        <a href="/admin/coupon" class="nav-link dropdown-toggle  "><i
                                class="far fa-file-alt me-2"></i>All Coupons</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcoupon" class="dropdown-item">Add Coupon</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/banner" class="nav-link dropdown-toggle  " ><i
                                class="far fa-file-alt me-2"></i>All Banners</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addbanner" class="dropdown-item">Add Banner</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/offer" class="nav-link dropdown-toggle  " ><i
                                class="far fa-file-alt me-2"></i>All Offers</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addOffer" class="dropdown-item">Add Offer</a>
                        </div>
                    </div>
                    
                </div>
                
            </nav>
        </div>
        <!-- Sidebar End -->

        <%- include('../layouts/admin/adminNav') %>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Orders</h6>
                   
                    <table class="table user-list" id="userTable" >
                        <thead>
                            <tr>
                                <th><span class="ms-1">Order Id</span></th>
                                <th><span class="ms-1">User </span></th>
                                <th><span class="ms-1">Price</span></th>
                                <th><span class="ms-1">Address</span></th>
                                <th><span class="ms-1">Product </span></th>
                                <th><span class="ms-1">Quantity</span></th>
                                <th><span class="ms-1">Images</span></th>
                                <th><span >Status</span></th>
                                <th><span> Action</span></th>
                            </tr>
                        </thead>
                        <tbody>
                          <% allOrders.forEach(order => { %>
                            <% order.Products.forEach((product, index) => { %>
                                <tr class="mt-4">
                                    <% if (index === 0) { %>
                                        <!-- Display order-related information only for the first product in the order -->
                                        <td rowspan="<%= order.Products.length %>">
                                            <p><%= order._id %> </p>
                                        </td>
                                        <td rowspan="<%= order.Products.length %>">
                                            <% if (order.user) { %>
                                                <p><%= order.user.name %></p>
                                            <% } else { %>
                    
                                                <p>User not available</p>
                                            <% } %>
                                        </td>
                                        <td rowspan="<%= order.Products.length %>">
                                            <p><%= order.total %></p>
                                        </td>
                                        <td rowspan="<%= order.Products.length %>">
                                            <p class="text-center"> <%= `Name: ${order.address.name}, Mobile: ${order.address.mobile}, Pincode: ${order.address.pincode}, Address: ${order.address.address}, City: ${order.address.city}, State: ${order.address.state}` %></p>
                                        </td>
                                    <% } %>
                                       
                                        <td>
                                            <p><%= product.name %></p>
                                        </td>
                                        <td>
                                            <p class="text-center"><%= product.quentity %></p>
                                        </td>
                                        <td>
                                            <img src="/uploads/<%= product.image %>" alt="Product Image" width="50" height="50">
                                        </td>

                                        <td>
                                            <p id="orderStatus_<%= order._id %>"><%= product.orderStatus %></p>
                                           
                                        </td>

                                          <td>
                                            <div class="btn-group">
                                              <div class="btn-group dropstart">
                                                <% if (product.orderStatus !== 'cancelled' && product.orderStatus !== 'returned' && product.orderStatus !== 'delivered' ) { %>
                                                    <div class="btn-group">
                                                        <div class="btn-group dropstart">
                                                           
                                                            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                                Status
                                                            </button>
                                                            <!-- <input type="hidden" id="productId" value="<%= product._id %>"> -->
                                                            <% if(product.orderStatus == 'request return'){%>
                                                                <ul class="dropdown-menu">
                                                                    <li><a class="dropdown-item text-danger" href="#" onclick="updateStatus('returned', '<%= order._id %>','<%= product._id %>')">Returned</a></li>
                                                                </ul>
                                                                <%}else if (product.orderStatus == 'request cancellation'){%>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item text-danger" href="#" onclick="updateStatus('cancelled', '<%= order._id %>','<%= product._id %>')">Cancelled</a></li>
                                                                    </ul>
                                                                    <%}else{%>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item text-primary" href="#" onclick="updateStatus('shipped', '<%= order._id %>','<%= product._id %>')">Shipped</a></li>
                                                                <li><a class="dropdown-item text-primary" href="#" onclick="updateStatus('placed', '<%= order._id %>','<%= product._id %>')">Placed</a></li>
                                                                <li><a class="dropdown-item text-success" href="#" onclick="updateStatus('delivered', '<%= order._id %>','<%=product._id%>')">Delivered</a></li>
                                                                
                                                                
                                                            </ul>
                                                            <%}%>
                                                        </div>
                                                    </div>
                                                <% } %>
                                                </div>
                                                </div>
                                          </td>
                                    </tr>
                                <% }); %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            <nav aria-label="Page navigation ">
                <ul class="pagination justify-content-center mt-4">
                  <% if (currentPage> 1) { %>
                    <li class="page-item">
                      <a class="page-link" href="/admin/orders?page=<%= currentPage - 1 %>"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <% } else { %>
                      <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                      </li>
                      <% } %>

                        <% for (let page=1; page <=totalPages; page++) { %>
                          <li class="page-item <%= currentPage === page ? 'active' : '' %>">
                            <a class="page-link" href="/admin/orders?page=<%= page %>">
                              <%= page %>
                            </a>
                          </li>
                          <% } %>

                            <!-- <li class="page-item-total">of <%= totalPages %></li> -->

                            <% if (currentPage < totalPages) { %>
                              <li class="page-item">
                                <a class="page-link" href="/admin/orders?page=<%= currentPage + 1 %>"
                                  aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                              <% } else { %>
                                <li class="page-item disabled">
                                  <span class="page-link" aria-hidden="true">&raquo;</span>
                                </li>
                                <% } %>
                </ul>
              </nav>
            </div>
            <%- include('../layouts/admin/footBar') %>

<%- include('../layouts/admin/adminFooter') %>


<script>


  function updateStatus(status,orderId, productId) {
// const productId = document.getElementById("productId").value
     
      console.log(orderId);
      const url = `/admin/updateStatus/${orderId}`; 


      fetch(url, {
          method: 'PUT',  
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({ status,productId }),
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          return response.json();
      })
      .then(data => {
        
          console.log('Status updated successfully:', data);

          window.location.reload()

      })
      .catch(error => {
          // Handle errors
          console.error('There was a problem updating the status:', error.message);
      });
  }
</script>
