<%- include('../layouts/admin/adminHeader') %>


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">KRISHNAPRASAD</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/dashboard" class="nav-item nav-link"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    <a href="/admin/alluser" class="nav-item nav-link"><i class="fa fa-th me-2"></i>All User</a>
                    <div class="nav-item dropdown">
                        <a href="/admin/allproduct" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>All Product</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addproduct" class="dropdown-item">Add Product</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="/admin/category" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcategory" class="dropdown-item">Add Category</a>
                        </div>
                    </div>

                    <a href="/admin/orders" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Orders</a>

                    <div class="nav-item dropdown">
                        <a href="/admin/coupon" class="nav-link dropdown-toggle "><i
                                class="far fa-file-alt me-2"></i>All Coupons</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addcoupon" class="dropdown-item">Add Coupon</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/banner" class="nav-link dropdown-toggle " ><i
                                class="far fa-file-alt me-2"></i>All Banners</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addbanner" class="dropdown-item">Add Banner</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="/admin/offer" class="nav-link dropdown-toggle  " ><i
                                class="far fa-file-alt me-2"></i>All Offers</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addOffer" class="dropdown-item">Add Offer</a>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <%- include('../layouts/admin/adminNav') %>




            <div class="main-panel" >
                <div class="content-wrapper">
                    <div class="row ms-2">
                       



                        <div class="container-fluid pt-4 px-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-xl-12">
                                    <div class="bg-secondary rounded h-100 p-4">
                                        <h6 class="mb-4">Sales Report</h6>

                                        <div class="toolbox">


                                            <div class="toolbox-right">
                                                <div class="row">
                                                    <div class="toolbox-sort col-md-6">
                                                        <label for="startDatePicker" style="font-weight: 500;">Start Date:</label>
                                                        <input type="date" id="startDatePicker" class="form-control"  required />
                                                        <p id="start" style="color: red;"></p>
                                                    </div>
                                            
                                                    <div class="toolbox-sort col-md-6">
                                                        <label for="endDatePicker" style="font-weight: 500;">End Date:</label>
                                                        <input type="date" id="endDatePicker" class="form-control" required />
                                                        <p id="end" style="color: red;"></p>
                                                    </div>
                                                </div>
                                            </div><!-- End .toolbox-right -->
                                            
                                            
                                            
                                            
                                            <button class="btn btn-primary" onclick="sortOrdersByDateRange()">Sort</button>
                                            <div id="sorterrorText" class="text-danger"></div>
                                            <br>
                                        </div>


                                        <div id="printThisDiv">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Username</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Order Date</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Payment Mode</th>
                                                </tr>
                                            </thead>
                                            <tbody id="reportBody">
                                                <% orders.forEach(order => { %>
                                                    <% if (order.user && order.user.id) { %>
                                                        <tr>
                                                            <td><%= order.user.name %></td>
                                                            <td><%= order.user.email %></td>
                                                            <td><%= new Date(order.date).toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                                                            <td>
                                                                <% if (order.address) { %>
                                                                    <%= `Name: ${order.address.name}, Mobile: ${order.address.mobile}, Pincode: ${order.address.pincode}, Address: ${order.address.address}, City: ${order.address.city}, State: ${order.address.state}` %>
                                                                <% } else { %>
                                                                    N/A
                                                                <% } %>
                                                            </td>
                                                            <td><%= order.total %></td>
                                                            <td><%= order.paymentMode %></td>
                                                        </tr>
                                                    <% } %>
                                                <% }); %>
                                            </tbody>
                                            
                                        </table>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                DOWNLOAD
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#" onclick="downloadPDF('printThisDiv')" style="color: green; font-weight: 600;">Download as PDF</a></li>
                                                <li><a class="dropdown-item" href="#" onclick="downloadExcel('printThisDiv')" style="color: green; font-weight: 600;">Download as Excel</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>








            <%- include('../layouts/admin/footBar') %>
            <%- include('../layouts/admin/adminFooter') %>


<script>
    async function sortOrdersByDateRange() {
    try {
        const startDate = document.getElementById("startDatePicker").value;
        const endDate = document.getElementById("endDatePicker").value;

        if (!startDate) {
            document.getElementById("start").innerHTML = "Please enter Start Date";
            return;
        }else{
            document.getElementById("start").innerHTML = ""
        }

        if (!endDate) {
            document.getElementById("end").innerHTML = "Please enter End Date";
            return;
        }else{
            document.getElementById("end").innerHTML = " "
        }

        if (startDate > endDate) {
            alert("Start date cannot be greater than end date");
            return;
        }

        const response = await fetch('/admin/datesort', {
            method: "post",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ startDate, endDate })
        });

        const data = await response.json();
        console.log(data);

        displayOrders(data);

    } catch (error) {
        console.error(error.message);
    }
}


    function displayOrders(orders) {
        const reportBody = document.getElementById("reportBody");
        reportBody.innerHTML = orders.map((order) =>
            `
            <tr>
                <td>${order.user[0].name}</td>
                <td>${order.user[0].email}</td>
                <td>${formatDate(order.date)}</td>
                <td>${order.address.name}, ${order.address.mobile},${order.address.pincode},${order.address.address}, ${order.address.city},${order.address.state}</td>
                <td>${order.total || 'N/A'}</td>
                <td>${order.paymentMode}</td>
            </tr>`
        ).join("");
    }

    function formatDate(dateString) {
        // Use Moment.js or native JavaScript methods to format the date as needed
        return new Date(dateString).toLocaleDateString('en-US', {
            weekday: 'short',
            year: 'numeric',
            month: 'short',
            day: 'numeric'
        });
    }

  
</script>


<script>

    function downloadPDF(divName) {
        const printContents = document.getElementById(divName).innerHTML;
        const originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

    function downloadExcel(divName) {
        const table = document.getElementById(divName);
        const rows = table.getElementsByTagName('tr');

        let csvContent = "data:text/csv;charset=utf-8,";

        for (const row of rows) {
            const cells = row.getElementsByTagName('td');
            const cellValues = [];
            for (const cell of cells) {
                cellValues.push(cell.textContent);
            }
            csvContent += cellValues.join(',') + '\n';
        }

        const encodedUri = encodeURI(csvContent);
        const link = document.createElement('a');
        link.setAttribute('href', encodedUri);
        link.setAttribute('download', 'data.csv');
        document.body.appendChild(link);

        link.click();
        document.body.removeChild(link);
    }
    </script>