<!DOCTYPE html>
<html lang="en">


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="../user/assets/images/icons/site.html">
    <link rel="mask-icon" href="../user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="../user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="../user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="../user/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="../user/assets/css/style.css">
</head>

<body>


    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Usd</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="user/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/home">Home</a>


                                </li>

                                <li>
                                    <a href="/product">Product</a>

                                </li>
                                <li>
                                    <a href="#">About</a>

                                </li>
                                <li>
                                    <a href="#">Blog</a>

                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->


                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                                aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="user/assets/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="user/assets/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center"
                style="background-image: url('../user/assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->


            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="checkout-discount" hidden>
                            <form>
                                <input type="text" class="form-control" required id="checkout-discount-input">
                                <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click
                                        here to enter your code</span></label>
                            </form>
                        </div><!-- End .checkout-discount -->
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-9">

                                    <h2 class="checkout-title">Select Address</h2><!-- End .checkout-title -->
                                    <br>



                                    <!-- selector method -->


                                    <!-- <select id="addressSelect" class="selectpicker" style="max-width: 200px;" required
                                        onchange="updateSelectedAddress()">
                                        <option disabled selected value="">Please select an address</option>
                                        <% if (user && user.address && user.address.length> 0) { %>
                                            <% user.address.forEach(Address=> { %>
                                                <option>
                                                    <%= `Name: ${Address.name}, Mobile: ${Address.mobile}, Address:
                                                        ${Address.address}, City: ${Address.city}, Pincode:
                                                        ${Address.pincode}, State: ${Address.state}` %>
                                                </option>
                                                <% }); %>
                                                    <% } else { %>
                                                        <option>No addresses found for this user.</option>
                                                        <% } %>
                                    </select>
                                    <div id="selectedAddress"></div> -->


                                    <div id="addressRadioGroup">
                                        <% if (user && user.address && user.address.length> 0) { %>
                                            <% user.address.forEach(Address=> { %>
                                                <div class="form-check address-container">
                                                    <input class="form-check-input" type="radio" name="selectedAddress"
                                                        id="<%= `address${Address._id}` %>"
                                                        value="<%= JSON.stringify(Address) %>">
                                                    <label class="form-check-label"
                                                        for="<%= `address${Address._Id}` %>">
                                                        <%= `Name: ${Address.name}, Mobile: ${Address.mobile}, Address:
                                                            ${Address.address}, City: ${Address.city}, Pincode:
                                                            ${Address.pincode}, State: ${Address.state}` %>
                                                    </label>
                                                </div>
                                                <% }); %>
                                                    <% } else { %>
                                                        <p>No addresses found for this user.</p>
                                                        <% } %>
                                    </div>

                                    <div id="selectedAddress"></div>

                                    <style>
                                        .address-container {
                                            border: 2px solid #ccc;
                                            padding: 10px;
                                            margin-bottom: 10px;
                                            padding-left: 20px;
                                        }
                                    </style>



                                    <!-- <div id="addressSelect" class="address-checkboxes">
                                        <% if (user && user.address && user.address.length > 0) { %>
                                          <% user.address.forEach(Address => { %>
                                            <div class="address-checkbox" onclick="handleAddressSelection(this)">
                                              <input type="radio" id="address<%= Address._id %>" name="selectedAddresses" value="selectedAddresses">
                                              <label for="address<%= Address._id %>">
                                                <%= `Name: ${Address.name}, Mobile: ${Address.mobile}, Address: ${Address.address}, City: ${Address.city}, Pincode: ${Address.pincode}, State: ${Address.state}` %>
                                              </label>
                                            </div>
                                          <% }); %>
                                        <% } else { %>
                                          <div class="address-checkbox">
                                            <input type="radio" id="noAddress" name="selectedAddresses" value="noAddress" disabled>
                                            <label for="noAddress">No addresses found for this user.</label>
                                          </div>
                                        <% } %>
                                      </div> -->

                                    <!-- <script>
                                        function handleAddressSelection(selectedCheckbox) {
                                          // Remove the "selected" class from all checkboxes
                                          document.querySelectorAll('.address-checkbox').forEach(checkbox => {
                                            checkbox.classList.remove('selected');
                                          });
                                      
                                          // Add the "selected" class to the clicked checkbox
                                          selectedCheckbox.classList.add('selected');
                                        }
                                      </script> -->

                                    <div>
                                        <!-- Add Address button with the /address route -->
                                        <a href="/address" class="btn btn-primary btn-rounded mb-4 mt-3">Add Address</a>
                                    </div>


                                    <div class="checkout-discount">
                                        <form id="couponForm">

                                            <select id="couponCode" name="couponCode" style="max-width: 200px;"
                                                required>
                                                <option disabled selected value="">Please select an avilable coupon
                                                </option>
                                                <% if (coupon.length> 0) { %>
                                                    <% coupon.forEach(coupon=> { %>
                                                        <option>
                                                            <%= coupon.couponCode%>
                                                        </option>
                                                        <% }); %>
                                                            <% } else { %>
                                                                <option>No Coupons are Avilable.</option>
                                                                <% } %>
                                            </select>


                                            <label for="checkout-discount-input" class="text-truncate">Have a coupon?
                                                <span>Click here to enter your code</span></label><br>
                                            <button class="btn btn-primary mt-4" type="button"
                                                onclick="applyCoupon()">Apply
                                                Coupon</button>

                                            <div id="couponMessage"></div>
                                        </form>

                                    </div>


                                    <!-- <div class="checkout-discount">
                                        <form id="couponForm">
                                    
                                           
                                            <input type="text" id="couponCode" name="couponCode" style="max-width: 200px;" placeholder="Enter coupon code" required>
                                    
                                            <label for="checkout-discount-input" class="text-truncate">Have a coupon?
                                                <span>Click here to enter your code</span>
                                            </label>
                                            <button class="btn btn-primary mt-4" type="button" onclick="applyCoupon()">Apply Coupon</button>
                                    
                                            <div id="couponMessage"></div>
                                        </form>
                                    </div> -->



                                </div><!-- End .col-lg-9 -->





                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                        <table class="table table-summary" id="load">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>


                                            <tbody>
                                                <% cartData.products.forEach((product)=>{%>
                                                    <tr>
                                                        <td><a href="#">Product Name</a></td>
                                                        <td>
                                                            <%= product.productId.name %>
                                                        </td>
                                                    </tr>
                                                    <%})%>

                                                        <!-- Add other product details as needed -->

                                                        <tr class="summary-subtotal">
                                                            <td>Subtotal:</td>
                                                            <td>₹<%= totalWithoutDiscount %>
                                                            </td>
                                                        </tr><!-- End .summary-subtotal -->

                                                        <tr>
                                                            <td>Shipping:</td>
                                                            <td>Free shipping</td>
                                                        </tr>

                                                        <% if (totalWithoutDiscount - totalWithDiscount> 0) { %>
                                                            <tr>
                                                                <td>Discount:</td>
                                                                <td>
                                                                    <%= totalWithoutDiscount - totalWithDiscount %>
                                                                </td>
                                                            </tr>
                                                            <% } %>


                                                                <tr class="summary-total">
                                                                    <td>Total:</td>
                                                                    <td>₹<%= totalWithDiscount %>
                                                                    </td>
                                                                </tr><!-- End .summary-total -->

                                            </tbody>
                                        </table><!-- End .table table-summary -->




                                        <div class="accordion-summary" id="accordion-payment">
                                            <!-- Add accordion summary details if needed -->

                                            <select name="paymentMethod" id="payment">
                                                <option value="Cash on delivery">Cash on delivery</option>
                                                <option value="Razorpay">Razorpay</option>
                                                <option value="wallet">Wallet</option>
                                            </select>
                                        </div><!-- End .accordion -->

                                        <button class="btn btn-outline-primary-2 btn-sorder btn-block"
                                            onclick="sendSelection()">
                                            Place Order
                                        </button>
                                    </div>
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .summary -->

                    </div><!-- End .row -->
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
    </div><!-- End .page-content -->
    </main><!-- End .main -->




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- Option 2: Local download -->
    <!-- <script src="path/to/sweetalert2.all.min.js"></script> -->



    <script>
        function updateSelectedAddress() {
            // Get the selected radio button
            const selectedRadio = document.querySelector('input[name="selectedAddress"]:checked');

            // Update the selectedAddress div with the selected address details
            const selectedAddressDiv = document.getElementById('selectedAddress');
            if (selectedRadio) {
                const selectedAddress = JSON.parse(selectedRadio.value);
                selectedAddressDiv.innerHTML = `<p>SelectedAddress: ${selectedAddress.address}, ${selectedAddress.city}, ${selectedAddress.state}, ${selectedAddress.pincode}</p>`;
            } else {
                selectedAddressDiv.innerHTML = ''; // Clear the content if no address is selected
            }
        }
    </script>
    <!-- <script>
        function updateSelectedAddress() {
            // Get the selected option
            const selectedOption = document.getElementById('addressSelect').value;

            // Update the div with the selected address
            document.getElementById('selectedAddress').textContent = `Selected Address: ${selectedOption}`;
        }
    </script> -->



    <script>
        function sendSelection() {
            event.preventDefault();
            // Get the selected value from the payment dropdown
            const paymentMethod = document.getElementById("payment").value;

            // Get the selected address value (adjust this based on your HTML structure)
            // const selectedValue = document.getElementById("addressSelect").value;

            const selectedRadio = document.querySelector('input[name="selectedAddress"]:checked');

            const couponCode = document.getElementById('couponCode').value;

            // if (!selectedValue) {
            //     alert('please selcect a payment method & Address');
            //     return;
            // }

            if (!selectedRadio) {
                alert('Please select an address');
                return;
            }

            const selectedValue = JSON.parse(selectedRadio.value);


            fetch('/placeorder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    paymentMethod: paymentMethod,
                    selectedValue: selectedValue,
                    couponCode: couponCode

                }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Backend response:', data);

                
                    if (data.success) {
                        Swal.fire({
                            title: 'Order Placed Successfully!',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2000 

                        });

                        setTimeout(() => {

                            window.location.href = '/ordersuccess';
                        }, 2000)
                    } else if (data.response) {
                        var options = {
                            "key": 'rzp_test_TIOiShpd8euA17',
                            "amount": data.response.order.amount,
                            "currency": "INR",
                            "name": "KPK WATCHES", //your business name
                            "description": "Test Transaction",
                            "image": "https://example.com/your_logo",
                            "order_id": data.response.order.id,
                            "handler": function (response) {

                                verifyPayment(response, data.response)
                            },
                            "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                                "name": "Gaurav Kumar", //your customer's name
                                "email": "gaurav.kumar@example.com",
                                "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#3399cc"
                            }
                        };
                        var rzp1 = new Razorpay(options);

                        rzp1.open();

                    } else {
                        // Display SweetAlert error notification
                        Swal.fire({
                            title: 'Order Processing Failed',
                            text: 'An error occurred while processing the order.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Handle errors if any
                });
        }

        function verifyPayment(payment, order) {
            $.ajax({
                url: '/varifypayment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response.payment) {

                        Swal.fire({
                            title: 'Order Placed Successfully!',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2000 // Set the duration for the alert

                        });

                        setTimeout(() => {
                            // Redirect to the user cart page after the alert is closed
                            window.location.href = '/ordersuccess';
                        }, 2000)
                    }
                }
            })
        }
    </script>


    <script>

        async function applyCoupon() {

            const couponCode = document.getElementById('couponCode').value;

            console.log("req:", couponCode);
            event.preventDefault();
            try {
                const response = await fetch('/applyCoupon', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ couponCode }),
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const data = await response.json();

                if (data.success) {
                    $('#load').load(`/checkout?coupon=${couponCode} #load`)
                    document.getElementById('couponMessage').innerHTML = data.success;
                } else if (data.already) {
                    document.getElementById('couponMessage').innerHTML = data.already;
                } else if (data.error) {
                    document.getElementById('couponMessage').innerHTML = data.error;
                }

            } catch (error) {
                console.error('Error:', error);

            }
        }

    </script>




    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="../user/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna
                                eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                        class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                        class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="about.html">About Molla</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="../user/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                        <ul>
                            <li><a href="index-1.html">01 - furniture store</a></li>
                            <li><a href="index-2.html">02 - furniture store</a></li>
                            <li><a href="index-3.html">03 - electronic store</a></li>
                            <li><a href="index-4.html">04 - electronic store</a></li>
                            <li><a href="index-5.html">05 - fashion store</a></li>
                            <li><a href="index-6.html">06 - fashion store</a></li>
                            <li><a href="index-7.html">07 - fashion store</a></li>
                            <li><a href="index-8.html">08 - fashion store</a></li>
                            <li><a href="index-9.html">09 - fashion store</a></li>
                            <li><a href="index-10.html">10 - shoes store</a></li>
                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                            <li><a href="index-13.html">13 - market</a></li>
                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                            <li><a href="index-17.html">17 - fashion store</a></li>
                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                            <li><a href="index-19.html">19 - games store</a></li>
                            <li><a href="index-20.html">20 - book store</a></li>
                            <li><a href="index-21.html">21 - sport store</a></li>
                            <li><a href="index-22.html">22 - tools store</a></li>
                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                        <ul>
                            <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span
                                            class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span
                                            class="tip tip-new">New</span></span></a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="product.html">Default</a></li>
                            <li><a href="product-centered.html">Centered</a></li>
                            <li><a href="product-extended.html"><span>Extended Info<span
                                            class="tip tip-new">New</span></span></a></li>
                            <li><a href="product-gallery.html">Gallery</a></li>
                            <li><a href="product-sticky.html">Sticky Info</a></li>
                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                            <li><a href="product-fullwidth.html">Full Width</a></li>
                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>

                                <ul>
                                    <li><a href="about.html">About 01</a></li>
                                    <li><a href="about-2.html">About 02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                                <ul>
                                    <li><a href="contact.html">Contact 01</a></li>
                                    <li><a href="contact-2.html">Contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required>
                                                <label class="custom-control-label" for="register-policy">I agree to the
                                                    <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="../user/assets/js/jquery.min.js"></script>
    <script src="../user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="../user/assets/js/jquery.waypoints.min.js"></script>
    <script src="../user/assets/js/superfish.min.js"></script>
    <script src="../user/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="../user/assets/js/main.js"></script>
</body>


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

</html>