<%- include('../layouts/user/userHeader') %>
<%- include('../layouts/user/userNavBar') %>
    <div class="container">
        <style>
            .product-price {
                font-size: 16px;
                margin-bottom: 5px;
            }

            .original-price {
                text-decoration: line-through;
                color: #0a0101;

            }

            .offer-price {
                color: #f93706;

                font-weight: bold;

            }

            .product-price {
                display: flex;
                flex-direction: column;
                align-items: start;
                /* Align content in the center horizontally */
            }

            .offer-details {
                text-align: center;
                /* Center the text within the offer details div */
            }

            .offer-percentage {
                font-size: 0.7em;
                /* Set a smaller font size for the percentage text */
            }
        </style>


        <div class="row">
                <main class="main">
                    <div class="page-content mt-4">
                        <div class="container">
                            <div class="product-details-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-gallery product-gallery-vertical">
                                            <div class="row">
                                                <figure class="product-main-image">
                                                    <img id="product-zoom" src="/uploads/<%= products.image[0] %>"
                                                        data-zoom-image="/uploads/<%= products.image[0] %>"
                                                        alt="product image">
                                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                        <i class="icon-arrows"></i>
                                                    </a>
                                                </figure><!-- End .product-main-image -->

                                                <div id="product-zoom-gallery" class="product-image-gallery">
                                                    <% for(let i=0; i < products.image.length; i++) { %>
                                                        <a class="product-gallery-item active" href="#"
                                                            data-image="/uploads/<%= products.image[i] %>"
                                                            data-zoom-image="/uploads/<%= products.image[i] %>">
                                                            <img src="/uploads/<%= products.image[i] %>"
                                                                alt="product side">
                                                        </a>
                                                        <% } %>
                                                </div><!-- End .product-image-gallery -->
                                            </div><!-- End .row -->
                                        </div><!-- End .product-gallery -->
                                    </div><!-- End .col-md-6 -->

                                    <div class="col-md-6">
                                        <div class="product-details">
                                            <h1 class="product-title"><b>
                                                    <%= products.name %>
                                                </b></h1><!-- End .product-title -->

                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2
                                                    Reviews )</a>
                                            </div><!-- End .rating-container -->

                                            <div class="product-price">
                                                <% if (products.offer) { %>
                                                    <span class="original-price">₹<%= products.price %></span><br>
                                                    <div class="offer-details">
                                                        <span class="offer-price">₹<%= discountProductprice %>
                                                        </span><br>
                                                        <span class="offer-percentage">
                                                            <%= discountProductPercentage %>% OFF
                                                        </span>
                                                    </div>
                                                    <% } else if( products.category && products.category.offer) { %>
                                                        <span class="original-price">₹<%= products.price %></span><br>
                                                        <div class="offer-details">
                                                            <span class="offer-price">₹<%= discountCategoryprice %>
                                                            </span><br>
                                                            <span class="offer-percentage" style="color:green;">
                                                                <%= discountCategoryPercentage %>% OFF
                                                            </span>
                                                        </div>
                                                        <% } else { %>
                                                            ₹<%= products.price %>
                                                                <% } %>
                                            </div>



                                            <div class="product-content">
                                                <p>
                                                    <%= products.description %>
                                                </p>
                                            </div><!-- End .product-content -->

                                            <div class="details-filter-row details-row-size" hidden>
                                                <label for="size">Size:</label>
                                                <div class="select-custom">
                                                    <select name="size" id="size" class="form-control">
                                                        <option value="#" selected="selected">Select a size</option>
                                                        <!-- Add size options here -->
                                                    </select>
                                                </div><!-- End .select-custom -->
                                            </div><!-- End .details-filter-row -->

                                            <div class="details-filter-row details-row-size">
                                                <label for="qty">Qty:</label>
                                                <div class="product-details-quantity">
                                                    <input type="number" id="qty" class="form-control" value="1" min="1" max="<%=products.quentity%>" step="1" data-decimals="0" required readonly onkeydown="return false;">
                                                </div><!-- End .product-details-quantity -->
                                            </div><!-- End .details-filter-row -->
                                            

                                                    <div class="row dflex" >
                                                    <% if (products.quentity > 0) { %>
                                                        <% if (!alreadyCart) { %>
                                                         
                                                          <div class="product-details-action"  >
                                                            <a href="#" class="btn-product btn-cart" " onclick="addtoCart('<%= products._id %>')">
                                                              <span>Add to Cart</span>
                                                            </a>
                                                          </div>
                                                        <% } else { %>
                                                          <div class="product-details-action">
                                                            <a href="/cart" class="btn-product btn-cart">
                                                              <span>Go To Cart</span>
                                                            </a>
                                                          </div>
                                                        <% } %>
                                                      <% } else { %>
                                                        <span class="out-of-stock-message text-danger">Out of Stock</span>
                                                      <% } %>


                                                <div class="details-action-wrapper mb-3">
                                                    <a href="#" class="btn-product btn-wishlist" title="Wishlist"
                                                        onclick="addtoWishlist('<%= products._id %>')">
                                                        <span>Add to Wishlist</span>
                                                    </a>
                                                </div><!-- End .details-action-wrapper -->
                                            </div><!-- End .product-details-action -->

                                            <div class="product-details-footer">
                                                <div class="product-cat">
                                                    <span>Category:</span>
                                                    <a href="#">
                                                        <%= viewProduct.category.name %>
                                                    </a>
                                                </div><!-- End .product-cat -->
                                            </div><!-- End .product-details-footer -->
                                        </div><!-- End .product-details -->
                                    </div><!-- End .col-md-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .product-details-top -->

                            <div class="product-details-tab">
                                <ul class="nav nav-pills justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                            href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                            aria-selected="true">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                                            href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab"
                                            aria-selected="false">Shipping & Returns</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                        aria-labelledby="product-desc-link">
                                        <div class="product-desc-content">
                                            <h3>Product Information</h3>
                                            <p>
                                                <%= products.description %>
                                            </p>
                                        </div><!-- End .product-desc-content -->
                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                                        aria-labelledby="product-shipping-link">
                                        <div class="product-desc-content">
                                            <h3>Delivery & returns</h3>
                                            <p>We deliver to over 100 countries around the world. For full details of
                                                the delivery options we offer, please view our <a href="#">Delivery
                                                    information</a><br>
                                                We hope you’ll love every purchase, but if you ever need to return an
                                                item you can do so within a month of receipt. For full details of how to
                                                make a return, please view our <a href="#">Returns information</a></p>
                                        </div><!-- End .product-desc-content -->
                                    </div><!-- .End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- End .product-details-tab -->

                            <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->

                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                                data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                                <% relatedProduct.forEach((product)=> { %>
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <a href="/eachproduct?id=<%= product._id %>">
                                                <img src="/uploads/<%= product.image[0] %>" alt="Product image"
                                                    class="product-image" style="width: 100%; height: 300px">
                                            </a>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable">
                                                    <span>Add to wishlist</span>
                                                </a>

                                                <!-- <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                            </div><!-- End .product-action-vertical -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"
                                                    onclick="addtoCart('<%=products._id%>')"><span>Add to
                                                        cart</span></a>
                                            </div>
                                        </figure><!-- End .product-media -->
                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">
                                                    <%= product.category.name %>
                                                </a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/eachproduct?id=<%= product._id %>"><b>
                                                        <%= product.name %>
                                                    </b></a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <% if (product.offerprice <=product.price) { %>
                                                    <span class="original-price">₹<%= product.price %></span>
                                                    <br>
                                                    <span class="offer-price">₹<%= product.offerprice %></span>
                                                    <% } else { %>
                                                        ₹<%= product.price %>
                                                            <% } %>
                                            </div>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <!-- You may use the actual rating value from the product if available -->
                                                    <div class="ratings-val" style="width: 20%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">(2 Reviews)</span>
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                    <% }) %>
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .container -->
                    </div><!-- End .page-content -->
                </main><!-- End .main -->

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


                <script>
                    function addtoCart(proid, userid) {
                        const quentity = document.getElementById('qty').value;
                
                        if (quentity < 1) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Out of Stock',
                                text: 'Product quantity must be at least 1.',
                            });
                            return;
                        }
                
                        fetch(`/addingcart/${proid}/${quentity}/${userid}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                quentity: quentity,
                            }),
                        })
                        .then((response) => {
                            if (!response.ok) {
                                // Check if the response status is not okay (e.g., 401 Unauthorized)
                                throw new Error('Unauthorized - User not authenticated.');
                            }
                            return response.json();
                        })
                        .then((data) => {
                            console.log('Response from backend:', data);
                
                            Swal.fire({
                                icon: 'success',
                                title: 'Product added to cart!',
                                showConfirmButton: false,
                                timer: 1500,
                            });
                            
                            setTimeout(() => {
                                location.reload();
                            }, 1500);
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                
                            Swal.fire({
                                icon: 'error',
                                title: 'Error adding to cart',
                                text: error.message || 'An error occurred while adding the product to the cart.',
                            });
                        });
                    }
                </script>
                

                <script>

                    async function addtoWishlist(productId) {
                        try {
                            const response = await fetch(`/addingWishlist/${productId}`, {
                                method: 'POST',
                                headers: {
                                    'Content-type': 'application/json'
                                }
                            });

                            if (response.ok) {
                                const result = await response.json();
                                console.log(result.message);

                                Swal.fire({
                                    icon: 'success',
                                    title: 'Product added to wishlist!',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            } else {
                                const result = await response.json();
                                console.log('Error:', result.error);

                                if (result.error === 'Product is removed in wishlist') {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'This product removed in wishlist',
                                        text: 'Product is removed in the wishlist.'
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error adding to wishlist',
                                        text: 'An error occurred while adding the product to the wishlist.'
                                    });
                                }
                            }
                        } catch (error) {
                            console.error(error.message);

                            Swal.fire({
                                icon: 'error',
                                title: 'Error adding to wishlist',
                                text: 'An error occurred while adding the product to the wishlist.'
                            });
                        }
                    }

                </script>



<%- include('../layouts/user/mobileview') %>
<%- include('../layouts/user/smallFooter') %>