<!DOCTYPE html>
<html lang="en">


<!-- molla/product.html  22 Nov 2019 09:54:50 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="../user/assets/images/icons/site.html">
    <link rel="mask-icon" href="../user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="../user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="../user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="../user/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../user/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../user/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="../user/assets/css/style.css">
    <link rel="stylesheet" href="../user/assets/css/plugins/nouislider/nouislider.css">
</head>

<body>
    <div class="container">
        <style>
            .product-price {
                font-size: 16px;
                margin-bottom: 5px;
            }

            .original-price {
                text-decoration: line-through;
                color: #0a0101;

            }

            .offer-price {
                color: #f93706;

                font-weight: bold;

            }

            .product-price {
                display: flex;
                flex-direction: column;
                align-items: start;
                /* Align content in the center horizontally */
            }

            .offer-details {
                text-align: center;
                /* Center the text within the offer details div */
            }

            .offer-percentage {
                font-size: 0.7em;
                /* Set a smaller font size for the percentage text */
            }
        </style>


        <div class="row">
            <div class="page-wrapper">
                <header class="header">
                    <div class="header-top">
                        <div class="container">


                            <div class="header-right">
                                <ul class="top-menu">
                                    <li>
                                        <a href="#">Links</a>
                                        <ul>
                                            <li><a href="/login"><i class="icon-user"></i>Login</a></li>
                                        </ul>
                                    </li>
                                </ul><!-- End .top-menu -->
                            </div><!-- End .header-right -->
                        </div><!-- End .container -->
                    </div><!-- End .header-top -->

                    <div class="header-middle sticky-header">
                        <div class="container">
                            <div class="header-left">
                                <button class="mobile-menu-toggler">
                                    <span class="sr-only">Toggle mobile menu</span>
                                    <i class="icon-bars"></i>
                                </button>

                                <a href="index.html" class="logo">
                                    <img src="../user/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                                </a>

                                <nav class="main-nav">
                                    <ul class="menu sf-arrows">
                                        <li class="megamenu-container ">
                                            <a href="/">Home</a>

                                        </li>
                                        <li class="active">
                                            <a href="/product">Product</a>

                                        </li>
                                        <li>
                                            <a href="#">About</a>

                                        </li>
                                        <li>
                                            <a href="#">Blog</a>

                                        </li>

                                    </ul><!-- End .menu -->
                                </nav><!-- End .main-nav -->
                            </div><!-- End .header-left -->

                            <div class="header-right">
                                <div class="header-search" hidden>
                                    <a href="#" class="search-toggle" role="button" title="Search"><i
                                            class="icon-search"></i></a>
                                    <form action="#" method="get">
                                        <div class="header-search-wrapper">
                                            <label for="q" class="sr-only">Search</label>
                                            <input type="search" class="form-control" name="q" id="q"
                                                placeholder="Search in..." required>
                                        </div><!-- End .header-search-wrapper -->
                                    </form>
                                </div><!-- End .header-search -->


                                <div class="dropdown cart-dropdown">
                                    <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                                        aria-expanded="false" data-display="static">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count">2</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-cart-products">
                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="product.html">Beige knitted elastic runner shoes</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x $84.00
                                                    </span>
                                                </div><!-- End .product-cart-details -->

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="../user/assets/images/products/cart/product-1.jpg"
                                                            alt="product">
                                                    </a>
                                                </figure>
                                                <a href="#" class="btn-remove" title="Remove Product"><i
                                                        class="icon-close"></i></a>
                                            </div><!-- End .product -->

                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="product.html">Blue utility pinafore denim dress</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x $76.00
                                                    </span>
                                                </div><!-- End .product-cart-details -->

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="../user/assets/images/products/cart/product-2.jpg"
                                                            alt="product">
                                                    </a>
                                                </figure>
                                                <a href="#" class="btn-remove" title="Remove Product"><i
                                                        class="icon-close"></i></a>
                                            </div><!-- End .product -->
                                        </div><!-- End .cart-product -->

                                        <div class="dropdown-cart-total">
                                            <span>Total</span>

                                            <span class="cart-total-price">$160.00</span>
                                        </div><!-- End .dropdown-cart-total -->

                                        <div class="dropdown-cart-action">
                                            <a href="/cart" class="btn btn-primary">View Cart</a>
                                            <a href="/checkout"
                                                class="btn btn-outline-primary-2"><span>Checkout</span><i
                                                    class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .dropdown-cart-total -->
                                    </div><!-- End .dropdown-menu -->
                                </div><!-- End .cart-dropdown -->
                            </div><!-- End .header-right -->
                        </div><!-- End .container -->
                    </div><!-- End .header-middle -->
                </header><!-- End .header -->



                <main class="main">
                    <div class="page-content mt-4">
                        <div class="container">
                            <div class="product-details-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-gallery product-gallery-vertical">
                                            <div class="row">
                                                <figure class="product-main-image">
                                                    <img id="product-zoom" src="/uploads/<%= products.image[0] %>"
                                                        data-zoom-image="/uploads/<%= products.image[0] %>"
                                                        alt="product image">
                                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                        <i class="icon-arrows"></i>
                                                    </a>
                                                </figure><!-- End .product-main-image -->

                                                <div id="product-zoom-gallery" class="product-image-gallery">
                                                    <% for(let i=0; i < products.image.length; i++) { %>
                                                        <a class="product-gallery-item active" href="#"
                                                            data-image="/uploads/<%= products.image[i] %>"
                                                            data-zoom-image="/uploads/<%= products.image[i] %>">
                                                            <img src="/uploads/<%= products.image[i] %>"
                                                                alt="product side">
                                                        </a>
                                                        <% } %>
                                                </div><!-- End .product-image-gallery -->
                                            </div><!-- End .row -->
                                        </div><!-- End .product-gallery -->
                                    </div><!-- End .col-md-6 -->

                                    <div class="col-md-6">
                                        <div class="product-details">
                                            <h1 class="product-title"><b>
                                                    <%= products.name %>
                                                </b></h1><!-- End .product-title -->

                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2
                                                    Reviews )</a>
                                            </div><!-- End .rating-container -->

                                            <div class="product-price">
                                                <% if (products.offer) { %>
                                                    <span class="original-price">₹<%= products.price %></span><br>
                                                    <div class="offer-details">
                                                        <span class="offer-price">₹<%= discountProductprice %>
                                                        </span><br>
                                                        <span class="offer-percentage">
                                                            <%= discountProductPercentage %>% OFF
                                                        </span>
                                                    </div>
                                                    <% } else if( products.category && products.category.offer) { %>
                                                        <span class="original-price">₹<%= products.price %></span><br>
                                                        <div class="offer-details">
                                                            <span class="offer-price">₹<%= discountCategoryprice %>
                                                            </span><br>
                                                            <span class="offer-percentage" style="color:green;">
                                                                <%= discountCategoryPercentage %>% OFF
                                                            </span>
                                                        </div>
                                                        <% } else { %>
                                                            ₹<%= products.price %>
                                                                <% } %>
                                            </div>



                                            <div class="product-content">
                                                <p>
                                                    <%= products.description %>
                                                </p>
                                            </div><!-- End .product-content -->

                                            <div class="details-filter-row details-row-size" hidden>
                                                <label for="size">Size:</label>
                                                <div class="select-custom">
                                                    <select name="size" id="size" class="form-control">
                                                        <option value="#" selected="selected">Select a size</option>
                                                        <!-- Add size options here -->
                                                    </select>
                                                </div><!-- End .select-custom -->
                                            </div><!-- End .details-filter-row -->

                                            <div class="details-filter-row details-row-size">
                                                <label for="qty">Qty:</label>
                                                <div class="product-details-quantity">
                                                    <input type="number" id="qty" class="form-control" value="1" min="1"
                                                        max="<%=products.quentity%>" step="1" data-decimals="0"
                                                        required>
                                                </div><!-- End .product-details-quantity -->
                                            </div><!-- End .details-filter-row -->

                                            <div class="product-details-action">
                                                <a href="#" class="btn-product btn-cart"
                                                    onclick="addtoCart('<%=products._id%>')"><span>add to
                                                        cart</span></a>


                                                <div class="details-action-wrapper">
                                                    <a href="#" class="btn-product btn-wishlist" title="Wishlist"
                                                        onclick="addtoWishlist('<%= products._id %>')">
                                                        <span>Add to Wishlist</span>
                                                    </a>
                                                </div><!-- End .details-action-wrapper -->
                                            </div><!-- End .product-details-action -->

                                            <div class="product-details-footer">
                                                <div class="product-cat">
                                                    <span>Category:</span>
                                                    <a href="#">
                                                        <%= viewProduct.category.name %>
                                                    </a>
                                                </div><!-- End .product-cat -->
                                            </div><!-- End .product-details-footer -->
                                        </div><!-- End .product-details -->
                                    </div><!-- End .col-md-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .product-details-top -->

                            <div class="product-details-tab">
                                <ul class="nav nav-pills justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                            href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                            aria-selected="true">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                                            href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab"
                                            aria-selected="false">Shipping & Returns</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                        aria-labelledby="product-desc-link">
                                        <div class="product-desc-content">
                                            <h3>Product Information</h3>
                                            <p>
                                                <%= products.description %>
                                            </p>
                                        </div><!-- End .product-desc-content -->
                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                                        aria-labelledby="product-shipping-link">
                                        <div class="product-desc-content">
                                            <h3>Delivery & returns</h3>
                                            <p>We deliver to over 100 countries around the world. For full details of
                                                the delivery options we offer, please view our <a href="#">Delivery
                                                    information</a><br>
                                                We hope you’ll love every purchase, but if you ever need to return an
                                                item you can do so within a month of receipt. For full details of how to
                                                make a return, please view our <a href="#">Returns information</a></p>
                                        </div><!-- End .product-desc-content -->
                                    </div><!-- .End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- End .product-details-tab -->

                            <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->

                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                                data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                                <% relatedProduct.forEach((product)=> { %>
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <a href="/eachproduct?id=<%= product._id %>">
                                                <img src="/uploads/<%= product.image[0] %>" alt="Product image"
                                                    class="product-image" style="width: 100%; height: 300px">
                                            </a>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable">
                                                    <span>Add to wishlist</span>
                                                </a>

                                                <!-- <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                            </div><!-- End .product-action-vertical -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"
                                                    onclick="addtoCart('<%=products._id%>')"><span>Add to
                                                        cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->
                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">
                                                    <%= product.category.name %>
                                                </a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/eachproduct?id=<%= product._id %>"><b>
                                                        <%= product.name %>
                                                    </b></a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <% if (product.offerprice <=product.price) { %>
                                                    <span class="original-price">₹<%= product.price %></span>
                                                    <br>
                                                    <span class="offer-price">₹<%= product.offerprice %></span>
                                                    <% } else { %>
                                                        ₹<%= product.price %>
                                                            <% } %>
                                            </div>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <!-- You may use the actual rating value from the product if available -->
                                                    <div class="ratings-val" style="width: 20%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">(2 Reviews)</span>
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                    <% }) %>
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .container -->
                    </div><!-- End .page-content -->
                </main><!-- End .main -->

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>




                <script>
                    function addtoCart(proid, userid) {
                        const quentity = document.getElementById('qty').value;


                        if (quentity < 1) {

                            Swal.fire({
                                icon: 'error',
                                title: 'Out of Stock',
                                text: 'Product quantity must be at least 1.',
                            });
                            return;
                        }


                        fetch(`/addingcart/${proid}/${quentity}/${userid}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                quentity: quentity,
                            }),
                        })
                            .then((response) => response.json())
                            .then((data) => {

                                console.log('Response from backend:', data);


                                Swal.fire({
                                    icon: 'success',
                                    title: 'Product added to cart!',
                                    showConfirmButton: false,
                                    timer: 1500,
                                });
                            })
                            .catch((error) => {
                                console.error('Error:', error);


                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error adding to cart',
                                    text: 'An error occurred while adding the product to the cart.',
                                });
                            });
                    }
                </script>

                <script>

                    async function addtoWishlist(productId) {
                        try {
                            const response = await fetch(`/addingWishlist/${productId}`, {
                                method: 'POST',
                                headers: {
                                    'Content-type': 'application/json'
                                }
                            });

                            if (response.ok) {
                                const result = await response.json();
                                console.log(result.message);

                                Swal.fire({
                                    icon: 'success',
                                    title: 'Product added to wishlist!',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            } else {
                                const result = await response.json();
                                console.log('Error:', result.error);

                                if (result.error === 'Product is removed in wishlist') {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'This product removed in wishlist',
                                        text: 'Product is removed in the wishlist.'
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error adding to wishlist',
                                        text: 'An error occurred while adding the product to the wishlist.'
                                    });
                                }
                            }
                        } catch (error) {
                            console.error(error.message);

                            Swal.fire({
                                icon: 'error',
                                title: 'Error adding to wishlist',
                                text: 'An error occurred while adding the product to the wishlist.'
                            });
                        }
                    }

                </script>



                <footer class="footer">
                    <div class="footer-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget widget-about">
                                        <img src="../user/assets/images/logo.png" class="footer-logo" alt="Footer Logo"
                                            width="105" height="25">
                                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                                            vulputate magna eros eu erat. </p>

                                        <div class="social-icons">
                                            <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                                    class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                                    class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                                    class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                                    class="icon-youtube"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                                    class="icon-pinterest"></i></a>
                                        </div><!-- End .soial-icons -->
                                    </div><!-- End .widget about-widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="about.html">About Molla</a></li>
                                            <li><a href="#">How to shop on Molla</a></li>
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="contact.html">Contact us</a></li>
                                            <li><a href="login.html">Log in</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">Payment Methods</a></li>
                                            <li><a href="#">Money-back guarantee!</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Shipping</a></li>
                                            <li><a href="#">Terms and conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">Sign In</a></li>
                                            <li><a href="cart.html">View Cart</a></li>
                                            <li><a href="#">My Wishlist</a></li>
                                            <li><a href="#">Track My Order</a></li>
                                            <li><a href="#">Help</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->
                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .footer-middle -->

                    <div class="footer-bottom">
                        <div class="container">
                            <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                            <!-- End .footer-copyright -->
                            <figure class="footer-payments">
                                <img src="../user/assets/images/payments.png" alt="Payment methods" width="272"
                                    height="20">
                            </figure><!-- End .footer-payments -->
                        </div><!-- End .container -->
                    </div><!-- End .footer-bottom -->
                </footer><!-- End .footer -->
            </div><!-- End .page-wrapper -->
            <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

            <!-- Sticky Bar -->


            <!-- Mobile Menu -->
            <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

           

            <%- include('../layouts/user/mobileview') %>
<%- include('../layouts/user/smallFooter') %>

</html>